lab 7/.pytest_cache/CACHEDIR.TAG
lab 7/.pytest_cache/README.md
lab 7/.pytest_cache/v/cache/lastfailed
lab 7/.pytest_cache/v/cache/nodeids
lab 7/.pytest_cache/v/cache/stepwise
lab 7/__pycache__/app.cpython-311.pyc
lab 7/__pycache__/test.cpython-311.pyc
